{% extends "layout.html" %}
{% block content %}
<h1>推移</h1>
<canvas id="myChart"></canvas>
<script>
$(function () {
	graph();
	function graph() {
		$.get("/getVentilation/100", function (data) {
			// var jdata = JSON.parse(data);
			var ctx = document.getElementById("myChart");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: data,
				options: {
					scales: {
						yAxes: [
							{id:"y-axis-1",
								typee:"linear",
								position:"left",
								ticks: {
									suggestedMax: 100,
									suggestedMin: 0,
									stepSize: 10
								}
							},
							{id:"y-axis-2",
								typee:"linear",
								position:"right",
								ticks: {
									suggestedMax: 1500,
									suggestedMin: 500,
									stepSize: 100
								},
								gridLines: {
									drawOnChartArea: false,
								}
							}
						]
					},
				}
			});
		});
	}
});
</script>
{% endblock %}
